
*.bcf
*.log
*.out
*.aux
*.toc
*.xml
*.gz
*.tlog
Medizinische_Bildanalyse/Aaron_Thomas/aufgabe2/build/mr_optimal_transformed.raw
*.obj
*.depend
*.h
*.raw
*.mhd
*.cxx
*.vcxproj
*.cache
*.filters
*.bin
*.rule
*.ilk
*.ascii
*.Z
*.tar
*.standard
*.sln
